<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Landing</title>
  </head>
  <body class="container">
    <header class="header">
      <div class="company">
        <img
          src="./assets/download.jpeg"
          alt="logo"
          width="100px"
          height="100px"
        />
        <div class="description">
          <h1>Company name</h1>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            quia cumque eaque quaerat iusto fugit illum voluptatem nisi sint
            perspiciatis, iure eos, aspernatur labore, deserunt sed animi beatae
            velit laudantium?
          </p>
        </div>
      </div>
      <div class="languages">
        <button>EN</button>
        <button>FR</button>
        <button>DE</button>
        <button>CN</button>
      </div>
      <div class="aux-nav">
        <button>How It Works</button>
        <button>Edraw Max</button>
        <button>Edraw Mind Map</button>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Dowload</a></li>
          <li><a href="#">Buy Now</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
      <input type="text" placeholder="Search" />
    </header>
    <img
      src="./assets/miniatura-iyf.jpg"
      alt="logo"
      width="100%"
      height="550px"
      class="img"
    />
    <main class="main">
      <div>
        <section class="section">
          <h2>Top Story Headline</h2>
          <div class="principal">
            <img
              src="./assets/download.jpeg"
              alt="logo"
              width="150px"
              height="150px"
            />
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit
              repudiandae, animi nihil ipsam reprehenderit sed ducimus eveniet?
              Eligendi, ab debitis autem libero unde odit saepe totam, eos
              provident, commodi deleniti! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Sed aliquam consectetur, illum at
              labore placeat explicabo repellat inventore possimus commodi! Eos
              temporibus blanditiis magnam non odio veniam modi tempore est.
            </p>
          </div>
          <div class="btn-container">
            <button>Download</button>
            <button>Purchase</button>
          </div>
        </section>
        <section>
          <h2>Top Story Headline</h2>
          <div class="gallery">
            <div class="card">
              <img
                src="./assets/download.jpeg"
                alt="logo"
                width="150px"
                height="150px"
              />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                mollitia amet voluptatibus, fugit repellendus officiis quidem
                veritatis nihil! Fugit vitae voluptates architecto sint
                similique officiis cumque quis labore, incidunt pariatur!
              </p>
            </div>
            <div class="card">
              <img
                src="./assets/download.jpeg"
                alt="logo"
                width="150px"
                height="150px"
              />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                mollitia amet voluptatibus, fugit repellendus officiis quidem
                veritatis nihil! Fugit vitae voluptates architecto sint
                similique officiis cumque quis labore, incidunt pariatur!
              </p>
            </div>
            <div class="card">
              <img
                src="./assets/download.jpeg"
                alt="logo"
                width="150px"
                height="150px"
              />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                mollitia amet voluptatibus, fugit repellendus officiis quidem
                veritatis nihil! Fugit vitae voluptates architecto sint
                similique officiis cumque quis labore, incidunt pariatur!
              </p>
            </div>
            <div class="card">
              <img
                src="./assets/download.jpeg"
                alt="logo"
                width="150px"
                height="150px"
              />
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
                mollitia amet voluptatibus, fugit repellendus officiis quidem
                veritatis nihil! Fugit vitae voluptates architecto sint
                similique officiis cumque quis labore, incidunt pariatur!
              </p>
            </div>
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut eos
            porro maxime animi sint quasi temporibus, explicabo aperiam debitis
            enim numquam quia reiciendis. At obcaecati odit corporis suscipit a
            tempore. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Delectus dolore placeat ratione labore quisquam, facere ex
            consequuntur, enim, non unde eos cum quis accusamus. Placeat modi
            fugit nesciunt! Facere, officia.
          </p>
        </section>
      </div>
      <aside class="aside">
        <section>
          <h2>Social</h2>
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/zHL8_JOeDE8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          <a href="#">Share & Links</a>
        </section>
        <section>
          <h2>Navigate</h2>
          <ul>
            <li>Item Name</li>
            <li>Item Name</li>
            <li>Item Name</li>
            <li>Item Name</li>
          </ul>
        </section>
      </aside>
    </main>
    <footer class="footer">
      <div>
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Sta Maps</a>
        <a href="#">Links</a>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        eligendi, natus est quia hic dicta ducimus suscipit facilis molestiae!
        At ex placeat molestias deleniti, sapiente fugit omnis libero alias
        quos?
      </p>
    </footer>
  </body>
</html>
